body {
  margin: 0;
  text-align: center;
  font-family: 'David Libre', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 4rem;
  font-family: 'Special Elite', cursive;
  color: #fca652;
  line-height: 2;
}

h2 {
  font-family: 'Sacramento', cursive;
  color: #c56183;
}

p {
  font-family: 'David Libre', serif;
}

.heading {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  margin-top: 0;
  color: #ac4b1c;
  font-weight: normal;
}

h3 {
  color: #fca652
}

.top-container {
  background-color: #ffefa0;
  padding-top: 5%;
}
.skill-row{width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.icons-img{width: 15%;}
.CS{width: 15%;
float: left;
margin-right: 30px;}

.middfont-family .bottom-container .web {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.top-cloud {
  position: relative;
  left: 200px;
}
